amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.14.1
awsebcli==3.7.8
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
blessed==1.9.5
botocore==1.4.55
celery==3.1.23
cement==2.8.2
certifi==2016.2.28
channels==0.17.2
colorama==0.3.7
daphne==0.15.0
dj-database-url==0.4.1
Django==1.9.8
django-celery==3.1.17
djangorestframework==3.4.6
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
haikunator==0.1.0
httplib2==0.9.2
jmespath==0.9.0
kombu==3.0.35
msgpack-python==0.4.8
MySQL-python==1.2.5
oauth2client==3.0.0
pathspec==0.3.4
pkg-resources==0.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.12
redis==2.10.5
requests==2.9.1
rsa==3.4.2
semantic-version==2.5.0
six==1.10.0
SQLAlchemy==1.0.15
texttable==0.8.4
Twisted==16.4.1
txaio==2.5.1
wcwidth==0.1.7
websocket-client==0.37.0
zope.interface==4.3.2
